html{
  background-color: #485460;
}
body{
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  background-color: #636e72;
  color: #dfe6e9;
}
header{
  background-color: #2d3436;
  margin: 0;
  padding: 15px 0;
  position: relative;
}
header h1{
  margin: 0;
  padding: 0 0 0 20px;
  text-shadow: 0 0 10px #74b9ff;
}
header a{
  text-decoration: none;
  color: #dfe6e9
}
header p{
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px #74b9ff;
}
header h1, p{
  display: inline;
}
header p.headerInfo{
  position: absolute;
  right: 12px;
  bottom: 12px;
  border: 1px solid white;
  margin: 0;
  padding: 3px 6px;
  border-radius: 50%;
  box-shadow: 0 0 10px #74b9ff;
  font-size: 10px;
  -webkit-animation: headerInfo 4s infinite;
  -ms-animation: headerInfo 4s infinite;
  -moz-animation: headerInfo 4s infinite;
  -o-animation: headerInfo 4s infinite;
  animation: headerInfo 4s infinite;
}
header p.headerInfo:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
-webkit-@keyframes headerInfo {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
-ms-@keyframes headerInfo {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
-moz-@keyframes headerInfo {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
-o-@keyframes headerInfo {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
@keyframes headerInfo {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}

nav ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 3px 0;
  background-color: #636e72;
  color: #dfe6e9;
}
nav ul li{
  display: inline;
  font-size: 14px;
  line-height: 30px;
  border-right: 1px solid #b2bec3;
}
nav ul li:last-child{
  border: none;
}
nav ul li a{
  text-decoration: none;
  color: #dfe6e9;
  padding: 0 13px;
  margin: 0 0 0 -4.5px;
}
nav ul li a:hover{
  background-color: #dfe6e9;
  color: #636e72;
  box-shadow: 0 0 10px #74b9ff;
}
nav ul li a#navSelect{
  background-color: #dfe6e9;
  color: #636e72;
  box-shadow: 0 0 10px #74b9ff;
}

/* ITEMS CONTAINER */
.container{
  text-align: center;
  margin: 0;
  padding: 18px 0;
  background-color: #2d3436;
  color: #636e72;
}
.Club, .Karaoke, .ShirtRoom, .TenCafe, .Dot5, .Bar,
.Full, .Hard, .Massage, .OP, .HostBar{
  display: inline-block;
}
div.items{
  background-color: white;
  box-shadow: 0 0 10px #b2bec3;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  margin: 7px;
  padding: 0;
  width: 87px;
  position: relative;
  overflow: hidden;
}
div.items:hover{
  transition: 0.4s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #dfe6e9;
}


i:hover{
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  transition: 0.4s;
}
div.star{
  background-color: #636e72;
  position: absolute;
  width: 100px;
  height: 16px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -40px;
  top: 1px;
}
.container p{
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
  color: #74b9ff;
  padding: 15px 0 0 0;
  margin: 0;
  display: block;
}
.container p.upstream{
  font-size: 10px;
  font-weight: 400;
  padding: 0;
}

.container ul{
  margin: 0;
  padding: 5px 0 15px 0;
  list-style: none;
}
.container li.sns{
  display: inline;
  padding: 0 5px;
}
.container li.name{
  padding: 3px 0 10px 0;
  font-size: 12px;
}
.container li a{
  color: #636e72;
}
.container li a.none{
  color: #b2bec3;
}
.container li a.none i{
  -webkit-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

/* ASIDE ITEMS */
div.asideContainer{
  padding-bottom: 6px;
  text-align: center;
  background-color: #2d3436;
}
div.asideItems{
  font-size: 14px;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  background-color: white;
}
div.asideItems .asideID_label{
  background-color: #dfe6e9;
  position: absolute;
  width: 100px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #636e72;
  font-size: 11px;
  right: -40px;
  top: 2px;
  padding: 2px 0;
}
div.asideContainer a, a.print{
  text-decoration: none;
  width: 90%;
  color: #636e72;
  padding: 15px;
}
div.asideContainer a div#asideNone{
  -webkit-animation: none;
  -ms-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  color: #b2bec3;
}

/* ASIDE ANIMATION*/
.asideItems{
  -webkit-animation-name: asideID1;
  -ms-animation-name: asideID1;
  -moz-animation-name: asideID1;
  -o-animation-name: asideID1;
  animation-name: asideID1;

  -webkit-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;

  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
-webkit-@keyframes asideID1 {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
-ms-@keyframes asideID1 {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
-moz-@keyframes asideID1 {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
-o-@keyframes asideID1 {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
@keyframes asideID1 {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
#disqus_thread{
  margin: 10px;
}
.disqusComment{
  margin: 10px;
  display: block;
  font-size: 12px;
  line-height: 18px;
}
a#disqusProfile{
  color: #74b9ff;
  padding: 0;
}
a#disqusProfile i{
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

/* FOOTER */
footer{
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2bec3;
}

footer a, footer i{
  color: #74b9ff;
  text-decoration: none;
}
footer p{
  display: block;
  margin: 0;
  padding: 5px 0;
}
footer p i{
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
footer p i:hover{
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
footer p i#about{
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

@media (max-width:320px) {
  header p#headerHiddenP{
    display: none;
  }
}
@media (min-width:700px) {
 html{
   margin: auto;
   width: 700px;
   background-color: #485460;
 }
}
